<%= form_with model: @photo do |form| %>

  <div>
    <% @tags.each do |tag| %>
      <%= form.check_box "tag_ids[]", name: "photo[tag_ids]", include_hidden: false %>
    <% end %>
  </div>


  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
      <%= form.label :image_url %>
       <%= form.url_field :image_url %>
  </div>

  <%= form.submit "Enviar" %>
<% end %>