<%= form_with model: @photo do |form| %>

  <input type="hidden" name="_method" value="PATCH">

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
      <%= form.label :image_url %>
       <%= form.url_field :image_url %>
  </div>

  <%= form.submit "Enviar" %>
<% end %>